<a href="/"><img src="http://3.bp.blogspot.com/-h0LmXnazAQI/Tee5QD2FFQI/AAAAAAAAAAk/D3NutduIps8/s760/logo.jpg"></img></a>
<h1>Gestor Integras.Tu</h1>

<h2>Administración de usuarios</h2>

<a href="/admin/register">Nuevo usuario</a><br>
<a href="/admin/usuarios/logout">Logout</a>
