{% extends '::base.html.twig' %}
{% block title %}PIG{% endblock %}

{% block body %}
<!-- Portfolio Grid Section -->

<a href="/clientes">Clientes</a><br>
<a href="/trabajadoras">Trabajadoras</a><br>
<a href="/usuarios">Usuarios</a><br>
{% endblock %}
