{% extends '::base.html.twig' %}

{% block menubar %}
    {% for servicio in servicios %}

        <li><a href="/admin/servicios/show/{{servicio.id}}"> {{ servicio.Tipo }} del {{ servicio.Fecha.date|date("d/m/y  g:i a") }}</a></li>

    {% endfor %}


    <a href="/admin/servicios/new"><button class="btn btn-default">Insertar Servicio</button></a>


{% endblock %}

{% block body %}
<!-- Portfolio Grid Section -->

{% endblock %}
