{% extends '::base.html.twig' %}
{% block title %}PIG{% endblock %}

{% block menubar %}
    {% for servicio in servicios %}

        <li><a href="/servicios/show/{{servicio.id}}">{{ servicio.id }}</a></li>

    {% endfor %}

    <a href="/servicios/new"><button class="btn btn-default">Insertar Servicio</button></a>

{% endblock %}

{% block body %}
<!-- Portfolio Grid Section -->

{% endblock %}
