{% extends 'PIGBundle:Trabajadoras:index.html.twig' %}

{% block title %}PIG{% endblock %}

{% block body %}

<h1>Nueva trabajadora</h1>

		<div id="contenedorForm">
			{{form(formTrabajadoras)}}
		</div>

{% endblock %}
