.nav > li > a{
  color: rgb(210, 41, 2);
}

ul.nav > li > a:hover{
  color: #f7f7f7;
  background-color: rgb(210, 41, 2);
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  background-color: rgb(210, 41, 2);
}

.nav .open>a, .nav .open>a:focus{
  color: #f7f7f7;
}
