a{
  text-decoration: none;
  color: rgb(210, 41, 2);
}

a:hover{
  text-decoration: none;
  color: #f7f7f7;
}

.nav > li > a{
  color: rgb(210, 41, 2);
}

ul.nav > li > a:hover{
  color: #f7f7f7;
  background-color: rgb(210, 41, 2);
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  background-color: rgb(210, 41, 2);
}

.nav .open>a, .nav .open>a:focus{
  color: #f7f7f7;
}


.sidebar ul li a.active {
    background-color: rgb(210, 41, 2);
    color: #f7f7f7;
}

.btn-default{
  margin-left: 60px;
  margin-top: 10px;
  color: rgb(210, 41, 2);
}

.btn-default:hover{
  color: #f7f7f7;
  background-color: rgb(210, 41, 2);
}

.btn-default.focus, .btn-default:focus {
    color: rgb(210, 41, 2);
    background-color: #f7f7f7;
    border-color: rgb(210, 41, 2);
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: rgb(210, 41, 2);
    background-color: #f7f7f7;
    border-color: rgb(210, 41, 2);
}

.nav-tabs.nav-justified {
    margin-top: 9px;
}

button:focus{
  outline: none;
}


#cliente input, #pigbundle_servicio input, #trabajadora input, .loginRegister input{
  display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#cliente label, #pigbundle_servicio label, #trabajadora label, .loginRegister label{
  display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color:rgb(210, 41, 2);
}

#cliente button, #pigbundle_servicio button, #trabajadora button, .loginRegister button{
 color: rgb(210, 41, 2);
 background-color: #f7f7f7;
 border: solid rgb(210, 41, 2) 1px;



 display: inline-block;;
 padding: 6px 12px;
 margin-bottom: 0;
 font-size: 14px;
 font-weight: 400;
 line-height: 1.42857143;
 text-align: center;
 white-space: nowrap;
 vertical-align: middle;
 -ms-touch-action: manipulation;
 touch-action: manipulation;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 background-image: none;
 border-radius: 4px;
 margin-top: 15px;
 margin-bottom: 10px;
}

#cliente button:hover, #pigbundle_servicio button:hover, #trabajadora button:hover, .loginRegister button:hover{
  background-color: rgb(210, 41, 2);
  color: #f7f7f7;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #f7f7f7;
    cursor: default;
    background-color: rgb(210, 41, 2);

    border-bottom-color: transparent;
}

.loginRegister{

  background-color: red;
  width: 100%;
  padding: 40px;
  border-radius: 12px;
  background-color: #f7f7f7;
  border: solid rgb(210, 41, 2) 2px;

}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #f7f7f7;
    text-decoration: none;
    background-color: rgb(210, 41, 2);
    outline: 0;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: rgb(210, 41, 2);
    white-space: nowrap;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #f7f7f7;
    text-decoration: none;
    background-color: rgb(210, 41, 2);
}
