{% extends '::base.html.twig' %}

{% block menubar %}
    {% for cliente in clientes %}

        <li><a href="/admin/clientes/show/{{cliente.id}}">{{ cliente.nombre }}</a></li>

    {% endfor %}

    <a href="/admin/clientes/new"><button class="btn btn-default">Insertar Cliente</button></a>

{% endblock %}

{% block body %}
<!-- Portfolio Grid Section -->

{% endblock %}
