{% extends '::base.html.twig' %}


{% block menubar %}
{% endblock %}

{% block body %}

<h1>Nuevo servicio de Limpieza</h1>



<div id="contenedorForm">
	{{form(formLimpiezas)}}
</div>


<br><a href="/servicios">Volver a Servicios</a><br>

{% endblock %}
