{% extends '::base.html.twig' %}


{% block menubar %}
{% endblock %}

{% block body %}

<h1>Nuevo servicio de Limpieza</h1>



<div id="contenedorForm">
	{{form(formLimpiezas)}}
</div>



{% endblock %}
