{% extends '::base.html.twig' %}


{% block menubar %}
{% endblock %}

{% block body %}

<h1>Nuevo servicio de Otro tipo</h1>



	<div id="contenedorForm">
		{{form(formOtros)}}
	</div>



{% endblock %}
