<a href="/"><img src="http://3.bp.blogspot.com/-h0LmXnazAQI/Tee5QD2FFQI/AAAAAAAAAAk/D3NutduIps8/s760/logo.jpg"></img></a><br><br><br>
{% block contenido %}

<h1>Nuevo servicio</h1>



		<div id="contenedorForm">
			{{form(formmantenimientos)}}
		</div>




{% endblock %}

<br><a href="/servicios">Volver a Servicios</a><br>
